.invoice-container {
  background-color: var(--secondry-color);
  margin-block-end: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.invoice-container .orders {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.invoice-container .orders .header,
.invoice-container .orders .order {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
}

.invoice-container .orders .header h2,
.invoice-container .orders .order h3 {
  width: 100px;
  margin-inline-start: 10px;
}

.invoice-container .orders .footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.invoice-container .orders .footer .total {
  margin-inline: 25px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
}

.invoice-container .orders .footer .total h2 {
  margin-inline-start: 50px;
}
