.cashier-container .withdraw-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cashier-container .withdraw-container .withdraw {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cashier-container .withdraw-container .withdraw label {
  font-weight: bold;
}
